extends layout 

block content 

  div(class="message-list")
    each message in message_list
      div(class="message-container")
        if isMember
          p #{message.user.fullName}: #{message.message} - #{message.createdAtFormatted}
        else
          p #{message.message}
        if admin 
          div(class="form-group")
            form(method="POST", action="/messages/delete")
              input(type="hidden", name="messageid", value=message._id)
              button(class="delete-button" type="submit" name="deleteMessage" ) Delete message


  div(class="add-message")
    form(method="POST" action="/messages")
      div(class="form-group")
        label( for="message") Message: 
        textarea(type="textarea" placeholder="Type message" name="message" required="true")
      button(class="submit-message-button" type="submit" name="addMessage") Post message
  
  if errors
    div(class="error-container")
      each error in errors 
        p #{error}